{%extends 'base_user.html'%}

{% block content %}


<table class="table">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Penjual</th>
            <th scope="col">Kategori</th>
            <th scope="col">Tanggal</th>
            <th scope="col">Nama</th>
            <th scope="col">Deskripsi</th>
            {% comment %} <th scope="col">No Telepon</th> {% endcomment %}
            <th scope="col">Harga</th>
            <th scope="col">Gambar</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {%  for d in data %}
        <tr>        
            <th scope="row">{{forloop.counter}}</th>
            <td>{{d.penjual}}</td>
            <td>{{d.kategori}}</td>
            <td>{{d.tanggal}}</td>
            <td>{{d.nama}}</td>
            <td>{{d.deskripsi}}</td>
            {% comment %} <td>{{d.no_tlp}}</td> {% endcomment %}
            <td>{{d.harga}}</td>
            {% comment %} <td>{{d.foto}}</td> {% endcomment %}
            <td>
               {% if d.foto %}
                  <img src="{{d.foto.url}}" width="40px"></img>
               {% endif %}
            </td>
            {% comment %} <td><img src="{{d.foto}}"></td> {% endcomment %}
            
      </tr>
      {% endfor %}
      <tr>
        <th scope="row"></th>
        <td colspan="6"></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  kategori: {{d.kategori}}
  {% if d.foto %}
    <img src="{{d.foto.url}}" width="40px"></img>
  {% endif %}
  {{d.nama}}
  {{d.penjual}}
  {{d.deskripsi}}
{% endblock %}
</body>
</html>