{%extends 'base_enduser.html'%}

{% block content %}
<center><h1>Daftar Produk</h1> </center>


<div class="row">{{forloop.counter}}
  {% for d in data %}
    <div class="col-lg-2">
      <div class="box-element product"> 
        <section class="shop_section layout_padding">
          <div class="container">
            <div class="box">
           
              <div class="img-box">
                {% if d.foto %}
                  <img src="{{d.foto.url}}" width="125px" height="125px">
                {% endif %}
                
              </div>
              <a href="detailproduk/{{d.id}}">
                <center><h6><b width="40px">{{d.nama}}</b></h6></center>
              </a> 
              <div class="btn-box">
                <a href="https://wa.me/{{d1.no_hp}}?text=Saya%20tertarik%20dengan%20barang%20%20yang%20anda%20jual">
                  <center><h6><b width="40px">{{d.harga}}</b></h6></center>
                </a>  
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    {%endfor%}
  </div>
<br></br>

{% endblock %}
</body>
</html>